.main {
    text-align: center;
    margin-bottom: 50px;
}
.supporting {
    height: 700px;
    background: url(img/arial.jpeg) no-repeat center bottom scroll;
    background-size: cover;
}

.main ul {
    text-align: left;
}

.main li img {
    max-width: 5%;
    height: auto;
}