html,
body {
    margin: 0;
    border: 0;
    background-color: #eee;
    color: #000000;
}

h2, h3, p, li {
    font-family: courier;
}

header {
    margin-bottom: 30px;
    margin-top: 20px;
}

nav {
    background-color: rgba(255,255,255,.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header a,
.project-links a {
    border: 1px solid #000000;
    border-radius: 80%;
}

header a {
    padding: 5px;
}

 a:hover {
    background-color: #000000;
    color: white;
} 

#home {
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
}



ul li {
    list-style-type: none;
    display: inline-block;
}


.about, .projects h2 {
    text-align: center;
}

.about {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border-style: inset;
    border-width: 1px;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
}

.projects-piece {
    min-height: 500px;
    background-color: lightgrey;
    min-height: 300px;
    margin: 0 auto 20px auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19),
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects-piece img {
    max-width: 100%;
    height: auto;
    float: right;
}

.projects-details, .projects-details p:first-child {
    display: inline;
}

.project-links {
    text-align: center;
    margin-top: 20px;
}

.project-links a {
    padding: 10px;
}

footer {
    margin-top: 50px;
    text-align: center;
}

#pull-right {
    text-align: right;
}

a {
    text-decoration: none;
    color: #000000;
}

footer a:hover {
    color: white;
    background-color: inherit;
}

.visually-hidden {
    display: none;
}

@media only screen and (min-width: 640px) {
    ul li {
        padding-right: 20px;
    }

    header a {
        padding: 10px;
    }
}