html,
body {
    margin: 0;
    border: 0;
    background-color: #BA8961;
    color: #000000;
}

h2 {
    font-family: courier;
}

header {
    margin-bottom: 30px;
    margin-top: 20px;
}

#active {
    margin-right: 20px;
}

header a,
#active {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 80%;
}

 a:hover,
#active {
    background-color: #000000;
    color: #BA8961;
} 



li {
    list-style-type: none;
    display: inline;
    padding-right: 20px;
}

.about {
    text-align: center;
}

.intro {
    background: url(img/guitar.jpeg) no-repeat center center scroll;
    background-size: contain;
    height: 300px;
}

.portfolio-piece {
    height: 500px;
}

#hospitalert-demo {
    background: url(img/hospitalert-demo.png) no-repeat center center scroll;
}

#kitty-opinions {
    background: url(img/opinions.png) no-repeat center center scroll;
}

#disneyland-quiz {
    background: url(img/disneyland-quiz.png) no-repeat center center scroll;
}

#hot-and-cold {
    background: url(img/hot-and-cold.png) no-repeat center center scroll;
}

footer {
    margin-top: 50px;
    text-align: center;
}

#pull-right {
    text-align: right;
}

a {
    text-decoration: none;
    color: #000000;
}

footer a:hover {
    color: white;
    background-color: inherit;
}

.visually-hidden {
    display: none;
}