html,
body {
    margin: 0;
    border: 0;
    background-color: #adaaac;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    text-align: center;
}

a {
    color: #000000;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Fondamento', cursive;
}

header {
    background: url(img/ocean.jpeg) no-repeat center center scroll;
    height: 500px;
    background-size: cover;
    margin-bottom: 30px;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2em;    
}

.site-nav, header p {
    margin-top: 30px;
}

section {
    margin-bottom: 50px;
}

section h2, .medium-posts p {
    margin-bottom: 20px;
}

header a,
.project-links a {
    text-decoration: underline;
}

header a {
    padding: 5px;
}

  a:hover {
    color: blue;
}  

ul {
    padding-left: 0;
}


ul li {
    list-style-type: none;
    display: inline-block;
}


.about, .projects h2 {
    text-align: center;
}

.about {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border-style: inset;
    border-width: 1px;
    border-top: 1px solid #707e90;
    box-sizing: content-box;
}

h3 {
    margin-bottom: 20px;
}

.bio-text {
    font-size: 18px;
    text-align: left;
}

.bio-photo {
    max-width: 100%;
    position: relative;
    top: 50%;
}

.projects-piece {
    min-height: 500px;
    background-color: lightgrey;
    min-height: 300px;
    margin: 0 auto 20px auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19),
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects-piece, .blog-post {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19),
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects-piece img {
    max-width: 100%;
    height: auto;
    float: right;
}

.projects-details, .projects-details p:first-child {
    display: inline;
}

.project-links {
    text-align: center;
    margin-top: 20px;
}

.project-links a {
    padding: 10px;
    display: inline-block;
    width: 100px;
}

#vertical-align {
    position: relative;
    bottom: 10px;
}

.projects-tech {
    text-align: center;
}

.projects-tech li {
    padding: 0 2px;
}

.projects-tech li::after {
    content: ' |';
}

.projects-tech li:last-child::after {
    content: none;
}

footer {
    margin-top: 50px;
    text-align: center;
}

#pull-right {
    text-align: right;
}

.medium-posts {
    padding: 10px;
}

.medium-posts img {
    padding-top: 10px;
    height: 200px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.medium-posts a, footer a {
    text-decoration: underline;
}

.medium-posts a:hover, .medium-posts a:focus,
footer a:hover, footer a:focus {
    color: blue;
    background-color: inherit;
}

.blog-post {
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    height: 300px;
    overflow: hidden;
}

.flash {
    background-color: yellow;
}

@media only screen and (min-width: 640px) {
    header {
        height: 800px;
        padding-top: 50px;
    }

    header h1 {
        font-size: 3.5em;
    }

    ul li {
        padding-right: 10px;
        padding-left: 10px;
    }

    header a {
        padding: 10px;
    }
}